#map {
    height: 500px;
    width: 800px;
    margin: auto;
    border-radius: 15px;
    display: inline-block;
}


#prompt {

}

#scoreBox {
    display: inline-block;
    margin: auto;
    background-color: #28c748;
    border-radius: 15px;
    padding: 10px;
    width: 200px;
    color: white;
    vertical-align: top;
}